@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('./default/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('./default/Roboto-Italic.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('./default/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url('./default/Roboto-MediumItalic.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('./default/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('./default/Roboto-BoldItalic.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url('./default/Roboto-Black.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url('./default/Roboto-BlackItalic.ttf');
}
